body {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
}

#root {
  display: flex;
  justify-content: center;
  padding: 20px;

  .app-wrapper {
    flex-flow: column wrap;
    width: 500px;

    .todo-info {
      font-style: italic;
      font-size: 12px;
      text-align: right;
    }

    .rounded-container {
      border-radius: 10px;
    }

    .error-message {
      font-weight: bold;
      color: #c72121;
      font-style: italic;
      font-size: 12px;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      border: none;
      transition: .2s;
      width: 50px;

      &:hover {
         cursor: pointer;
      }
      &.add {
        background-color: #a942c7;
        &:hover {
          background-color: #8724a4;
        }
      }
      &.locked {
        background-color: #e5e5e5;
        &:hover {
          cursor: inherit;
        }
      }
      &.edit {
        background-color: #4298c7;
        &:hover {
          background-color: #3283af;
        }
      }
      &.submit {
        background-color: #6ec742;
        &:hover {
          background-color: #58a930;
        }
      }
      &.delete {
        background-color: #c74242;
        &:hover {
          background-color: #a83030;
        }
      }
    }

    .text-input {
      padding: 10px 20px;
      margin-right: 5px;
      flex: 1;
      border: solid 2px #f8f8f8;
      border-radius: 3px;
      height: 100%;
      box-sizing: border-box;
      &.error {
        border: solid 2px #c72121;
      }
      &:focus {
        outline: none;
      }
    }

    .form {
      display: flex;
      margin-bottom: 10px;
    }

    .list {
      .todo {
        display: flex;
        background-color: #f8f8f8;
        margin-bottom: 10px;
        height: 60px;
        border-radius: 3px;
        &:last-of-type {
          margin-bottom: 0;
        }

        .text-input {
          height: 60px;
          margin-right: 0;
        }

        .button {
          &.edit, &.submit {
            border-radius: 3px 0 0 3px;
          }
          &.delete {
            border-radius: 0 3px 3px 0;
          }
        }

        .info {
          padding: 10px 20px;
          margin: 0;
          flex: 1;
          font-size: 20px;

          p {
            margin: 0;
            &.created-at {
              font-size: 12px;
              font-style: italic;
            }
          }
        }

        .actions {
          display: flex;
          flex-flow: row nowrap;
          border-radius: 3px;
        }
      }
    }
  }
}

