body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

#root {
  display: flex;
  justify-content: center;
  padding: 20px;

  .app-wrapper {
    flex-flow: column wrap;
    width: 500px;

    .rounded-container {
      border-radius: 10px;
      padding: 20px;
    }

    .form {
      display: flex;
      background-color: #ddd;
      margin-bottom: 10px;

      input[type="text"] {
        height: 20px;
        padding: 5px;
        flex: 1;
      }
    }

    .list {
      .todo {
        display: flex;
        background-color: #ffe9b3;
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 0;
        }

        h1 {
          margin: 0;
          flex: 1;
          font-size: 20px;
        }

        button, input {
          flex: 1;
        }
      }
    }
  }
}

